:root {
  --main-color: #ece4db;
  --sec-color: #F5DAD2;
  --text-color: #75A47F;
  --text-color2: #BACD92;
  --section-padding: 100px;
  --main-transition: 0.3s;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-image: linear-gradient(var(--main-color), var(--sec-color));
}
.container {
  width: 80%;
  margin: auto;
  padding: 0 15px;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
.main-head {
  font-family: Georgia, 'Times New Roman', Times, serif;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 80px;
}
.main-head::before {
  content: "";
  top: -21px;
  width: 60%;
  height: 100%;
  position: absolute;
  border-bottom: 1px solid var(--text-color2);
}
.main-head p {
  color: var(--text-color2);
  text-transform: uppercase;
  font-size: 19px;
  margin-bottom: 7px;
}
.main-head h2 {
  font-size: 27px;
  padding: 0 45px;
  color: var(--text-color);
  background-color: var(--main-color);
  text-transform: capitalize;
  z-index: 1;
}
/* End Global Rules */
/* Start Orders */
.orders {
  padding: var(--section-padding) 0;
  height: 80vh;
}
.orders table {
  margin: 0 auto;
  border: 1px solid var(--main-color);
  border-collapse: collapse;
  width: 80%;
}
.orders table th {
  padding: 15px 30px;
  background-color: var(--main-color);
  color: var(--text-color);
  border-bottom: 1px solid var(--text-color2);
}
.orders table tbody tr {
  border-bottom: 1px solid var(--main-color);
  text-align: center;
  border-bottom: 1px solid var(--text-color2);
}
.orders table tbody tr td {
  padding: 15px 30px;
}
/* End Orders */